<div class="home-image-container col-12 col-md-12">
  <img class="img-fluid home-image" src="../../../assets/images/criancas_olhando_ceu.png">

  <h4 class="home-image-text">
    Transformando através da educação
  </h4>
</div>
<div class="description-container container">
  <div class="row gy-5">
    <div class="description col-12 col-md-6">
      <h1>Desde 1975 atuando na área da infância e juventude</h1>
      <p>
        Sociedade Beneficente Caminhando Para o Futuro, inciou suas atividades no ano de 1975, no dia 11 de julho.
        A inciativa surgiu de movimentos de moradores de bairro do Jd. Carombé para abertura de um núcleo que tivesse
        a proposta de atender à crianças e adolescentes de famílias que residem na região e assim à famílias poderiam
        ficar mais tranquilas, pois seus filhos estariam em um local seguro
      </p>
    </div>
    <div class="col-12 col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.301667407179!2d-46.6816883779417!3d-23.47110020508349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef9c2f2f79117%3A0x9df7357e7e480b46!2sCaminhando%20para%20o%20Futuro!5e0!3m2!1spt-BR!2sbr!4v1667332120525!5m2!1spt-BR!2sbr"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <app-big-card
      class="col-12 col-md-6"
      imageSrc="../../../assets/images/CEI_crianca.png"
      title="Centro de Educação Infantil"
      subtitle="Público Alvo: 0 a 4 anos"
      description="Promovem o desenvolvimento de saberes de acordo com cada faixa etária. Através de atividades educativas amparadas em projetos pedagógicos, o aprendizado ocorre por meio de brincadeiras e vivências lúdicas. Oferecem atividades de educação e desenvolvimento pedagógico, cinco refeições completas e planejadas por nutricionistas, e o cuidado constante com a saúde e higiene."
      buttonLabel="Ver Unidades"
      ></app-big-card>
    <app-big-card
      class="col-12 col-md-6"
      imageSrc="../../../assets/images/CCA_crianca.png"
      title="Centro de Crianças e Adolescentes"
      subtitle="Público Alvo: 6 a 14 anos"
      description="Com objetivo de criar uma proteção integral à criança e adolescente que possa estar em situação de risco ou vulnerabilidade social. Através de atividades transdisciplinares incita o desenvolvimento intelectual ao mesmo tempo em que cria um ambiente de socialização."
      buttonLabel="Ver Unidades"
    ></app-big-card>
  </div>
</div>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
<app-unit-card
  imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
  title="CEI Brincando Também se Aprende"
  firstSubtitle="95 crianças atendidas"
  secondSubtitle="2 a 3 anos e 11 meses de idade"
  address="R. dos Patis, 308 - Vila Nova Cachoeirinha"
  email="bta@caminhandofuturo.org.br"
  phoneNumber="11 3983-3867"
  facebook="https://www.facebook.com/profile.php?id=100064026751111"
></app-unit-card>
