
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Doações</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="row">
          <h2>PIX</h2>
          <p>Para nos ajudar envie um PIX para:</p><h4>99999999999</h4>
        </div>
      </div>
      <hr>
      <div class="col-12 col-md-12">
        <div class="row">
          <h2>Transferência bancaria</h2>
          <p>Você também pode fazer uma transferência bancaria:</p>
          <p><b>Tipo de Conta:</b> Conta Corrente</p>
          <p><b>Agência:</b> 9999</p>
          <p><b>Conta:</b> 99999999-9</p>
          <p><b>Banco:</b> 0260 - Nu Pagamentos S. A.</p>
        </div>
      </div>
      <hr>
      <div class="col-12 col-md-12">
        <div class="row">
          <h4>Contato</h4>
          <p>Caso precise de um comprovante, entre em contato:</p>
          <p><b>Email:</b> email@email.com</p>
          <p><b>Telefone:</b> 999999999</p>
        </div>
      </div>
    </div>
  </div>
</div>
