<div class="page">
  <app-header></app-header>

  <div class="container-fluid">
    <router-outlet
      (activate)="currentComponent = $event"
    ></router-outlet>
  </div>

  <!-- TESTE1<br>TESTE2<br>TESTE3<br>TESTE4<br>TESTE5<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE<br>TESTE5<br>TESTE4<br>TESTE3<br>TESTE2<br>TESTE1<br> -->

  <app-footer></app-footer>
</div>
<app-donate-button
  *ngIf="!isDonatePage()"
  (click)="openDonateScreen()"
></app-donate-button>
